<li class="job new_job" id="job_<%= job.id %>" >
  <%= link_to job.title, job.link, :target => "_blank" %>
  <span class="job_platform"><%= job.platform %></span>

  <p class="keyword_details">
    <%= job.keywords %>
  </p>

  <p class="job_description">
    <%= display_job_description job%>
  </p>

</li>